/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


button {
    position: relative;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    text-transform: uppercase;

    span:nth-child(5) {
        background-color: black;
        height: 100%;
        width: 100%;
        z-index: -2;
        top: 0%;
        left: 0;
    }

    span {
        background-color: #0E5AF2;
        position: absolute;
        height: 51%;
        width: 51%;
        z-index: -1;
        transition: all .5s ease-in-out;
    }

    span:nth-child(1) {
        left: 0;
        top: 0;
    }

    span:nth-child(2) {
        left: 0;
        bottom: 0;
    }

    span:nth-child(3) {
        right: 0;
        top: 0;
    }

    span:nth-child(4) {
        right: 0;
        bottom: 0;
    }


    &:hover span:nth-child(1) {
        top: -50%;
        left: -50%;
    }

    &:hover span:nth-child(2) {
        bottom: -50%;
        left: -50%;
    }

    &:hover span:nth-child(3) {
        top: -50%;
        right: -50%;
    }

    &:hover span:nth-child(4) {
        bottom: -50%;
        right: -50%;
    }


} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    position: relative;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
}

button span:nth-child(5) {
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0%;
    left: 0;
}

button span {
    background-color: #0E5AF2;
    position: absolute;
    height: 51%;
    width: 51%;
    z-index: -1;
    transition: all .5s ease-in-out;
}

button span:nth-child(1) {
    left: 0;
    top: 0;
}

button span:nth-child(2) {
    left: 0;
    bottom: 0;
}

button span:nth-child(3) {
    right: 0;
    top: 0;
}

button span:nth-child(4) {
    right: 0;
    bottom: 0;
}

button:hover span:nth-child(1) {
    top: -50%;
    left: -50%;
}

button:hover span:nth-child(2) {
    bottom: -50%;
    left: -50%;
}

button:hover span:nth-child(3) {
    top: -50%;
    right: -50%;
}

button:hover span:nth-child(4) {
    bottom: -50%;
    right: -50%;
}
